#ifndef SECRETS_H
#define SECRETS_H

// ==================== WiFi配置 ====================
#define WIFI_SSID      "your_wifi_ssid"
#define WIFI_PASS      "your_wifi_password"

// ==================== 和风天气配置 ====================
#define QWEATHER_HOST  "https://sample.re.qweatherapi.com"
#define LOCATION       "101020600"

// ==================== JWT配置 ====================
#define JWT_KID        "sample_jwt_kid"
#define JWT_SUB        "sample_jwt_sub"
#define PRIVATE_KEY    "sample_private_key"

#endif