#include "secrets.h"

const char* QWEATHER_HOST = "https://your-re.qweatherapi.com";
const char* LOCATION = "101020600";

const char* JWT_KID = "YOUR_JWT_KID";
const char* JWT_SUB = "YOUR_JWT_SUB";

const char* PRIVATE_KEY = "YOUR_ED25519_PRIVATE_KEY_BASE64";